{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Enter information {% endblock %}</h1>

    <form method="POST" action="/">
        {{ form.csrf_token }}

        <p>
            {{ form.state.label }}
            {{ form.state() }}
        </p>

        {% if form.state.errors %}
            <ul class="errors">
                {% for error in form.state.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.housing.label }}
            {{ form.housing() }}
        </p>

        {% if form.housing.errors %}
            <ul class="errors">
                {% for error in form.level.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.transport.label }}
            {{ form.transport() }}
        </p>

        {% if form.transport.errors %}
            <ul class="errors">
                {% for error in form.level.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.insurance.label }}
            {{ form.insurance() }}
        </p>

        {% if form.insurance.errors %}
            <ul class="errors">
                {% for error in form.level.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.meal_plan.label }}
            {{ form.meal_plan() }}
        </p>

        {% if form.meal_plan.errors %}
            <ul class="errors">
                {% for error in form.level.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

{% endblock %}