{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Enter information {% endblock %}</h1>

    <form method="POST" action="/next/">
        {{ form.csrf_token }}

       
        <p>
            {{ form.income.label }}
            {{ form.income() }}
        </p>



        {% if form.income.errors %}
            <ul class="errors">
                {% for error in form.income.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.loan.label }}
            {{ form.loan() }}
        </p>

        {% if form.loan.errors %}
            <ul class="errors">
                {% for error in form.loan.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <body>

        <p>To Learn more about loan go to this website: https://www.nerdwallet.com/hub/category/student-loans</p>
            
        </body>
        <p>
            {{ form.interest_rate.label }}
            {{ form.interest_rate() }}
        </p>



        {% if form.interest_rate.errors %}
            <ul class="errors">
                {% for error in form.interest_rate.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.amount.label }}
            {{ form.amount() }}
        </p>



        {% if form.amount.errors %}
            <ul class="errors">
                {% for error in form.amount.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.years.label }}
            {{ form.years() }}
        </p>



        {% if form.years.errors %}
            <ul class="errors">
                {% for error in form.years.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.term.label }}
            {{ form.term() }}
        </p>



        {% if form.term.errors %}
            <ul class="errors">
                {% for error in form.term.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

{% endblock %}